<nav class="navbar px-4 py-3">
  <a class="navbar-brand text-black fw-bold fs-4" routerLink="/home"> Netlikes </a>

  <div class="d-flex align-items-center gap-3">

    <div class="position-relative">
      <button (click)="openBox()" class="btn btn-link p-0 text-black"><i class="bi bi-bell-fill fs-5"></i></button>

      <app-notification-panel
        [isOpen]="boxOpen"
        (closed)="boxOpen = false">
      </app-notification-panel>
      @if (hasNotifications) {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> 8 </span>
      }
    </div>

    <div (click)="goToProfile()">
      <img
        [src]="avatarUrl"
        alt="Perfil"
        class="rounded-circle avatar"
      />
    </div>
  </div>
</nav>