
<div class="sidebar-container">
  <div class="search-box">
    <input 
      type="text" 
      placeholder="Buscar foro" 
      [(ngModel)]="search"
      class="search-input"
    >
  </div>

  <div class="list-container">
    @for (user of Friends; track user.name; let i = $index) {
      <div 
      class="foro-item" 
      [class.active]="user.active"
      (click)="selectUser(i)"
      >
      <div class="foro-info" (click)="selectUser(1)">
        <span class="foro-name"> {{ user.name }}</span>
      </div>
    </div>
    } @empty {
      <div class="p-3 text-muted">No tienes ningun amigo.</div>
    }
  </div>
</div>