
.userItem {
    cursor: pointer;
    transition: background-color 0.2s;
}

.userItem:hover {
    background-color: #e9ecef; 
}

.userPhoto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
}