<div class="chat-container" style="display: flex; flex-direction: column; height: 100vh; width: 100%;">
  <header class="chat-header">
    <button class="mobile-back-btn" (click)="goBack()"><i class="bi bi-arrow-left"></i></button>
    <h2>{{ ForumTitle }}</h2>
  </header>

  @if (saveUrl && activeForum) {
    <iframe 
      [src]="saveUrl" 
      width="100%" 
      height="100%" 
      frameborder="0"
      allowfullscreen>
    </iframe>
  }@else if(!activeForum && forumId !== null){
    <p>Conectando con el foro oficial...</p>
    <div class="spinner"></div>
  }
  @else {
    <div class="p-5 text-center">
      <h3>Selecciona una película para ver su foro de debate</h3>
    </div>
  }

</div> 
