<div class="position-relative p-3 p-md-4 border-bottom border-dark border-2 bg-light">

    <div class="position-absolute top-0 end-0 p-3 z-3 position-settings">
        <button class="btn btn-light border-dark shadow-sm settings-btn" (click)="toggleMenu()">
            @if (otherUser) {
                <i class="bi bi-three-dots-vertical"></i>
            } @else {
                <i class="bi bi-gear-fill"></i>
            }
        </button>

        @if (openMenu) {
            <div class="position-fixed top-0 start-0 w-100 h-100" 
                 style="z-index: 1040; cursor: default;" 
                 (click)="openMenu = false">
            </div>

            <div class="dropdown-menu show position-absolute end-0 mt-1 shadow" 
                 style="min-width: 150px; right: 1rem; z-index: 1050;">
                
                @if (otherUser) {
                    <button class="dropdown-item" (click)="applyBlock()">Bloquear</button>
                    
                } 
                @else {
                    
                    <div class="dropdown-item d-flex justify-content-between align-items-center">
                        <span class="me-3">Cuenta privada</span>
                        <div class="form-check form-switch mb-0">
                            <input class="form-check-input" type="checkbox" 
                                   [checked]="isPrivate"
                                   (change)="togglePrivacy()"
                                   style="cursor: pointer;">
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <button class="dropdown-item fw-semibold" (click)="showBlockedUsers()">
                        Usuarios Bloqueados
                    </button>

                    <div class="dropdown-divider"></div>
                    
                    <button class="dropdown-item text-danger fw-semibold" (click)="logout()">
                        Cerrar sesión
                    </button>

                    <div class="dropdown-divider"></div>
                    
                    <button class="dropdown-item text-danger fw-semibold" (click)="deleteUser()">
                        Eliminar cuenta
                    </button>
                }
            </div>
        }
    </div>

    <div class="ig-grid">

        <div class="position-relative">

            <img class="ig-avatar border border-dark border-2 shadow-sm overflow-hidden"
                [src]="userPicture==null 
                    ? 'assets/ProfilePicture.jpg'
                    : `https://api.dicebear.com/9.x/fun-emoji/svg?seed=${userPicture}`">

            @if (isEditing) {
                <button
                    class="btn-avatar-edit position-absolute bottom-0 end-0 rounded-circle shadow-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#avatarModal"
                    (click)="openAvatarModal()">

                    <i class="bi bi-pencil-fill"></i>
                </button>
            }

        </div>

        <div class="ig-stats">
            <div class="stat-item" (click)="openSocial('Seguidores')">
                <span class="d-block fw-bold lh-1 stat-number">{{ followers }}</span>
                <span class="d-block stat-label">seguidores</span>
            </div>
            <div class="stat-item" (click)="openSocial('Seguidos')">
                <span class="d-block fw-bold lh-1 stat-number">{{ following }}</span>
                <span class="d-block stat-label">seguidos</span>
            </div>
        </div>

        <div class="ig-name-container">
            <h3 class="fw-bold m-0 ig-name">{{ userName }}</h3>
        </div>

        <div class="ig-button-container">
            <button class="btn btn-dark shadow-sm ig-action-btn" 
                    (click)="handleMainAction()">
                {{ type }}
            </button>
        </div>

    </div>
</div>