<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    
    <div class="modal-header">
      <h3 class="m-0 fw-bold">Cuentas bloqueadas</h3>
      <button class="btn-close" (click)="onClose()"></button>
    </div>

    <div class="modal-body">
      @if (isLoading) {
        <div class="text-center p-4">Cargando...</div>
      } @else if (blockedUsers.length === 0) {
        <div class="text-center p-4 text-muted">
          No tienes a ningún usuario bloqueado.
        </div>
      } @else {
        <div class="users-list">
          @for (user of blockedUsers; track user.email) {
            <div class="user-item">
              <div class="user-info">
                <img [src]="user.profilePicture == null 
                        ? 'assets/ProfilePicture.jpg'
                        : `https://api.dicebear.com/9.x/fun-emoji/svg?seed=${user.profilePicture}`" alt="Avatar" class="user-avatar">
                <span class="user-name fw-semibold">{{ user.userName }}</span>
              </div>
              <button class="btn btn-dark btn-sm" (click)="unblock(user)">
                Desbloquear
              </button>
            </div>
          }
        </div>
      }
    </div>

  </div>
</div>