<div class="profileComple">
    
    @if(!(itsMe$ |async)){
        @if (profile$ | async; as profile) {
            <app-profile-header 
                [userName]="profile.userName" 
                [userPicture]="profile.profilePicture"
                [followers]="profile.followers"
                [following]="profile.following"
                [type]="isEditing ? 'Siguiendo' : 'Seguir'" 
                (editClick)="Edit()"
                option="Bloquear" 
                otherUser="Yes">
            </app-profile-header>

            <app-profile-components title="Bio">
                <p>{{profile.bio}}</p>
            </app-profile-components>
            @if(!(profile.watchedFilms === null)){

                <app-profile-components title="Películas Vistas">
                    
                    <div class="netflix-wrapper">
                        @if (canScrollLeft) {
                            <button class="nav-btn left" (click)="scrollLeft()"></button>
                        }

                        <div class="netflix-row" #scrollContainer>
                            <div class="netflix-slider">
                                @for(film of profile.watchedFilms; track film) {
                                    <div class="film-item">
                                        <app-film [posterPath]="film.posterPath" [title]="film.title" [id]="film.id"></app-film>
                                    </div>
                                }
                            </div>
                        </div>

                        @if (canScrollRight) {
                            <button class="nav-btn right" (click)="scrollRight()"></button>
                        }
                    </div>

                </app-profile-components>

                <app-profile-components title="Ver más tarde">
                    <div class="netflix-wrapper">
                        @if (canScrollLeft) {
                            <button class="nav-btn left" (click)="scrollLeft()"></button>
                        }
                        <div class="netflix-row" #scrollContainer>
                            <div class="netflix-slider">
                                @for(film of profile.laterFilms; track film) {
                                    <div class="film-item">
                                        <app-film [posterPath]="film.posterPath" [title]="film.title" [id]="film.id"></app-film>
                                    </div>
                                }
                            </div>
                        </div>
                    
                        @if (canScrollRight) {
                            <button class="nav-btn right" (click)="scrollRight()"></button>
                        }
                    </div>
                </app-profile-components>
            }@else {
                <p>Cuenta privada</p>
            }
        }
    }
    @else{
        @if (profile$ | async; as profile) {
            <app-profile-header 
                [userName]="profile.userName"
                [userPicture]="profile.profilePicture"
                [isPrivate]="profile.isPrivate"
                [followers]="profile.followers"
                [following]="profile.following"
                [type]="isEditing ? 'Continuar' : 'Editar Perfil'" 
                (editClick)="Edit()"
                (openSocialModal)="showSocial($event)"
                (logOut)="logout()"
                (privacyChange)="onPrivacyChange($event)">
            </app-profile-header>
        
        
            <app-profile-components title="Bio" [isEditing]="isEditing">
                <p>{{profile.bio}}</p>
            </app-profile-components>

            <app-profile-components title="Películas Vistas" [isEditing]="isEditing">
                <div class="netflix-wrapper">
                    @if (canScrollLeft) {
                        <button class="nav-btn left" (click)="scrollLeft()"></button>
                    }

                    <div class="netflix-row" #scrollContainer>
                        <div class="netflix-slider">
                            @for(film of profile.watchedFilms; track film) {
                                <div class="film-item">
                                    <app-film [posterPath]="film.posterPath" [title]="film.title" [id]="film.id"></app-film>
                                </div>
                            }
                        </div>
                    </div>

                    @if (canScrollRight) {
                        <button class="nav-btn right" (click)="scrollRight()"></button>
                    }
                </div>
            </app-profile-components>

            <app-profile-components title="Ver más tarde" [isEditing]="isEditing">
                <div class="netflix-wrapper">
                    @if (canScrollLeft) {
                        <button class="nav-btn left" (click)="scrollLeft()"></button>
                    }

                    <div class="netflix-row" #scrollContainer>
                        <div class="netflix-slider">
                            @for(film of profile.laterFilms; track film) {
                                <div class="film-item">
                                    <app-film [posterPath]="film.posterPath" [title]="film.title" [id]="film.id"></app-film>
                                </div>
                            }
                        </div>
                    </div>

                    @if (canScrollRight) {
                        <button class="nav-btn right" (click)="scrollRight()"></button>
                    }
                </div>
            </app-profile-components>
        }
    }

    @if (isSocialModalOpen) {
        <app-social-modal 
            [title]="socialType" 
            [users]="socialData" 
            (close)="isSocialModalOpen = false"
            (tabChange)="showSocial($event)">
        </app-social-modal>
    }

</div>