<div class="custom-section mb-4 position-relative shadow-sm">
  <div class="p-3 p-md-4">
    <h5 class="section-title fw-bold mb-3 pb-2">
      {{ title }}
    </h5>

    @if (isEditing) {
      <button class="btn btn-delete position-absolute top-0 end-0 m-3 rounded-circle shadow-sm p-0" 
              style="width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; z-index: 20;">
        <i class="bi bi-dash fs-4"></i>
      </button>
    }

    <div class="netflix-wrapper">
      @if (canScrollLeft) {
        <button type="button" class="nav-btn left shadow-sm" (click)="scroll('left')"></button>
      }

      <div class="netflix-row" #scrollContainer (scroll)="updateScrollButtons()">
        <div class="netflix-slider">
          <ng-content></ng-content>
        </div>
      </div>

      @if (canScrollRight) {
        <button type="button" class="nav-btn right shadow-sm" (click)="scroll('right')"></button>
      }
    </div>
  </div>
</div>