<div class="card mb-4 border-dark border-2 shadow-sm position-relative">
  <div class="card-body p-4">
    <h4 class="card-title fw-bold border-bottom border-dark border-2 pb-2 mb-3">
      {{ title }}
    </h4>

    @if (isEditing) {
      <button class="btn btn-danger position-absolute top-0 end-0 m-3 rounded-circle shadow p-0" 
              style="width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; z-index: 20;">
        <i class="bi bi-dash fs-4"></i>
      </button>
    }

    <div class="netflix-wrapper">
      @if (canScrollLeft) {
        <button type="button" class="nav-btn left" (click)="scroll('left')"></button>
      }

      <div class="netflix-row" #scrollContainer (scroll)="updateScrollButtons()">
        <div class="netflix-slider">
          <ng-content></ng-content>
        </div>
      </div>

      @if (canScrollRight) {
        <button type="button" class="nav-btn right" (click)="scroll('right')"></button>
      }
    </div>
  </div>
</div>