<div class="card mb-4 border-dark border-2 shadow-sm">
    <div class="card-body p-4">
        <h4 class="card-title fw-bold border-bottom border-dark border-2 pb-2 mb-3">
            {{title}}
        </h4>

        @if (isEditing) {
            <button class="btn btn-danger position-absolute top-0 end-0 m-3 rounded-circle shadow p-0" 
                style="width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; z-index: 10;">
            <i class="bi bi-dash fs-4"></i> </button>
        }
        
        
        <div class="card-text text-secondary">
            <ng-content></ng-content>
        </div>
    </div>
</div>