<div class="sidebar-container">
  <div class="search-box">
    <app-search-bar 
    placeholderText="Buscar foro..." 
    (searchEvent)="handleSearch($event)">
    </app-search-bar>
  </div>

  <div class="list-container">
    @for (film of filtereForums; track film.title; let i = $index) {
      <div 
      class="foro-item" 
      [class.active]="film.active"
      (click)="selectForum(i)"
      >
      <div class="foro-info" (click)="selectForum(1)">
        <span class="foro-name"> {{ film.title }}</span>
      </div>
    </div>
    } @empty {
      <div class="p-3 text-muted">No estás suscrito a ningún foro.</div>
    }
  </div>
</div>