<div class="chat-container">
  <header class="chat-header">
    <button class="mobile-back-btn" (click)="goBack()">&#10229;</button>
    <h2> {{ person }}</h2>
  </header>

  
  @if (!person) {
    <div class="p-5 text-center">
      <h3>Selecciona un usuario para chatear con él o haz amigos para vivir nuevas experiencias</h3>
    </div>
} @else if (!saveUrl) {
    <p>Conectando con el chat de {{ person }}...</p>
    <div class="spinner"></div>
} @else {
    <iframe 
      [src]="saveUrl" 
      width="100%" 
      height="100%" 
      frameborder="0"
      allowfullscreen>
    </iframe>
}

</div>