<div class="p-3 border-bottom border-dark border-2 w-100">
    <h4 class="m-0">{{person}}</h4>
</div>

<div class="flex-grow-1 p-4 overflow-auto d-flex flex-column gap-3 w-100">
    
        @for (msg of messageHistory; track msg) {
            
            @if (!msg.itsMe){
                <div class="d-flex flex-column align-items-start">
                    <div class="d-flex align-items-center mb-2">
                        <img class="userPhoto" src="https://media.gettyimages.com/id/962792726/es/foto/kiev-ukraine-cristiano-ronaldo-of-real-madrid-poses-with-the-uefa-champions-league-trophy.jpg?s=612x612&w=gi&k=20&c=iGuCfZEUXyVagRfgPF765GB9CHIsyTplWQisj_AUC2U=">
                        <h5 class="m-0 ms-2">{{person}}</h5>
                    </div>

                    <div class="bubble bg-white">{{msg.text}}</div>

                </div>
            }
            @else{
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex align-items-center mb-2">
                        <img class="userPhoto" src="https://media.gettyimages.com/id/962792726/es/foto/kiev-ukraine-cristiano-ronaldo-of-real-madrid-poses-with-the-uefa-champions-league-trophy.jpg?s=612x612&w=gi&k=20&c=iGuCfZEUXyVagRfgPF765GB9CHIsyTplWQisj_AUC2U=">
                        <h5 class="userName">{{user}}</h5>
                    </div>
                    <div class="bubble bg-white">{{msg.text}}</div>
                </div>
            }  
        }

</div>

<div class="p-3 border-top border-dark border-2 w-100 mt-auto">
    <div class="input-wrapper">
    
        <textarea 
            #txtArea
            placeholder="Escribe un mensaje..."
            rows="1"
            (input)="height(txtArea)"
            (keydown.enter)="$event.preventDefault(); sendMessage(txtArea.value); txtArea.value=''; height(txtArea)"
        ></textarea>

        <button 
            type="button" 
            (click)="sendMessage(txtArea.value); txtArea.value=''; height(txtArea)"
        >▻</button>

    </div>
</div>

