<div class="profileHeader">

    <div class="containerConfiguration">
        <button class="configuration" (click)="Menu()">⚙️</button>

        @if (openMenu){
            <div class="menu">
                <ul>
                    <li>Ajustes</li>
                    <li (click)="logOut()">Cerrar sesión</li>
                </ul>
            </div>
        }
    </div>

    <div class="logoName">
        <h4 class="userName">{{userName}}</h4>
        <img class="userProfile" src="https://media.gettyimages.com/id/962792726/es/foto/kiev-ukraine-cristiano-ronaldo-of-real-madrid-poses-with-the-uefa-champions-league-trophy.jpg?s=612x612&w=gi&k=20&c=iGuCfZEUXyVagRfgPF765GB9CHIsyTplWQisj_AUC2U=">
    </div>

    <div class="buttonFollow">
        <button  class="button">{{type}}</button>
    </div>

    <div class="stats">
        <div class="stat">
            <h5 class="follow">Seguidores</h5>
            <p class="number">123</p>
        </div>

        <div class="stat">
            <h5 class="follow">Seguidos</h5>
            <p class="number">123</p>
        </div>

    </div>
</div>