<div class="nav-bar d-flex">
  <button 
    class="nav-tab flex-fill py-3"
    [class.active]="tabActive === 'paraTi'"
    (click)="switchTab('paraTi')">
    Para ti
  </button>
  <button 
    class="nav-tab flex-fill py-3"
    [class.active]="tabActive === 'usuarios'"
    (click)="switchTab('usuarios')">
    Usuarios
  </button>
</div>

@if (tabActive === 'paraTi') {
  <div class="contenido px-4 py-3">
    <h5 class="text-black mb-3">Recomendaciones para ti</h5>

    @for (genre of forYouFilms; track genre.name) {
      <app-genre [genre]="genre"></app-genre>
    }
  </div>
}

@if (tabActive === 'usuarios') {
    <div class="contenido px-4 py-3">
        <h5 class="text-black mb-3">Recomendaciones de otros usuarios</h5>
        <div class="fila-peliculas2">
            @for (pelicula of peliculasUsuarios; track pelicula.id) {
                <app-film [image]="pelicula.image" [title]="pelicula.title" [year]="pelicula.ano"></app-film>
            }
        </div>
    </div>
}