.main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left-side {
  flex: 1;
  height: 100%;
}

.right-side {
  flex: 1;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.forgot-password {
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.forgot-password:hover {
  color: rgb(36, 35, 35) !important;
}

.form-control {
  background-color: #f9f9f9 !important;
  border: 1px solid #eee !important;
  border-radius: 15px !important;
}

.form-wrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.create-account-btn {
  background-color: #000;
}

.create-account-btn:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    overflow-y: auto;
  }

  .left-side, .right-side {
    height: auto;
  }

  .right-side {
    padding: 40px 20px;
  }
}