<h2 class="text-black fw-bold mb-3">Iniciar sesión</h2>

<div [formGroup]="form">

<div class="form-floating mb-3">
    <input
    type="email"
    id="email"
    placeholder=""
    formControlName="email"
    class="form-control bg-secondary border-0 text-black"
    [ngClass]="{'is-invalid': form.get('email')?.invalid && form.get('email')?.touched}"
    />
    <label for="email">Correo electrónico</label>
    @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
        <div class="invalid-feedback">El correo es obligatorio.</div>
    }
    @if (form.get('email')?.hasError('email') && form.get('email')?.touched) {
        <div class="invalid-feedback">Introduce un correo válido.</div>
    }
</div>

<div class="position-relative mb-3">
    <div class="form-floating">
    <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        placeholder=""
        formControlName="password"
        class="form-control bg-secondary border-0 text-black pe-5"
        [ngClass]="{'is-invalid': form.get('password')?.invalid && form.get('password')?.touched}"
    />
    <label for="password">Contraseña</label>
    @if (form.get('password')?.hasError('required') && form.get('password')?.touched) {
        <div class="invalid-feedback">La contraseña es obligatoria.</div>
    }
    @if (form.get('password')?.hasError('wrongCredentials') && form.get('password')?.touched) {
        <div class="invalid-feedback">El correo o la contraseña son incorrectos.</div>
    }
    </div>
    <button 
    type="button"
    class="btn-eye"
    (click)="togglePassword()">
    <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
    </button>
</div>

<button class="text-white btn btn-lg w-100 create-account-btn" (click)="login()">  Iniciar sesión </button>

</div>

<p class="text-center text-black-50 mt-3 forgot-password" (click)="forgotPassword()"> ¿Olvidaste tu contraseña? </p>

<hr class="border-secondary">

<button class="text-white btn btn-lg w-100 create-account-btn" (click)="createAccount()"> Crear cuenta </button>
