<div class="step-form" [formGroup]="form">

  <div class="form-floating mb-3">
    <input
      type="text"
      id="user_name"
      placeholder=""
      formControlName="user_name"
      class="form-control border-0"
      [ngClass]="{'is-invalid': form.get('user_name')?.invalid && form.get('user_name')?.touched}"
    />
    <label for="user_name">Nombre de usuario</label>
    @if (form.get('user_name')?.hasError('required') && form.get('user_name')?.touched) {
      <div class="invalid-feedback">El nombre de usuario es obligatorio.</div>
    }
    @if (form.get('user_name')?.hasError('minlength') && form.get('user_name')?.touched) {
      <div class="invalid-feedback">Mínimo 3 caracteres.</div>
    }
  </div>

  <div class="form-floating mb-3">
    <input
      type="email"
      id="email"
      placeholder=""
      formControlName="email"
      class="form-control border-0"
      [ngClass]="{'is-invalid': form.get('email')?.invalid && form.get('email')?.touched}"
    />
    <label for="email">Correo electrónico</label>
    @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
      <div class="invalid-feedback">El correo es obligatorio.</div>
    }
    @if (form.get('email')?.hasError('email') && form.get('email')?.touched) {
      <div class="invalid-feedback">Introduce un correo válido.</div>
    }
  </div>

  <!-- Fecha de nacimiento -->
  <label class="form-label text-black-50 mb-1">Fecha de nacimiento</label>
  <div class="d-flex gap-2 mb-3">
    <select formControlName="day" class="form-select border-0"
      [ngClass]="{'is-invalid': form.get('day')?.invalid && form.get('day')?.touched}">
      <option value="">Día</option>
      @for (d of days; track d) {
        <option [value]="d">{{ d }}</option>
      }
    </select>
    <select formControlName="month" class="form-select border-0"
      [ngClass]="{'is-invalid': form.get('month')?.invalid && form.get('month')?.touched}">
      <option value="">Mes</option>
      @for (m of months; track m.value) {
        <option [value]="m.value">{{ m.name }}</option>
      }
    </select>
    <select formControlName="year" class="form-select border-0"
      [ngClass]="{'is-invalid': form.get('year')?.invalid && form.get('year')?.touched}">
      <option value="">Año</option>
      @for (y of years; track y) {
        <option [value]="y">{{ y }}</option>
      }
    </select>

    @if (form.hasError('validateAge') && form.get('year')?.touched) {
    <div class="d-flex text-danger small mt-1 mb-2">
      Debes tener al menos 16 años para registrarte.
    </div>
}
  </div>

  <div class="button-group single-btn">   
    <button class="arrow-btn" (click)="notifyNext()">
        <i class="bi bi-arrow-right"></i>
    </button>
   </div>

   <p class="text-center text-black-50 mt-3 go-to-login" (click)="goBackToLogin()"> 
      <i class="bi bi-arrow-left"></i>
      Volver a Iniciar Sesión 
    </p>
</div>