@if (safeTrailers && safeTrailers.length > 0) {
  <div class="trailers-section mb-5">
    <h3 class="fw-bold mb-3">Tráileres y más</h3>
    
    <div class="horizontal-scroll gap-3 pb-2">
      @for (trailer of safeTrailers; track $index) {
        <div class="ratio ratio-16x9 rounded overflow-hidden shadow-sm flex-shrink-0 trailer-card">
          <iframe [src]="trailer" 
                  title="YouTube video player" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen>
          </iframe>
        </div>
      }
    </div>
  </div>
}