<h2 class="genre-title">{{ genre.name }}</h2>

<div class="netflix-wrapper">

  @if (canScrollLeft) {
    <button class="nav-btn left" (click)="scrollLeft()">‹</button>
  }

  <div class="netflix-row" #scrollContainer>
    <div class="netflix-slider">
      @for(film of genre.films; track $index) {
        <div class="film-item">
          <app-film [posterPath]="film.posterPath" [title]="film.title" [id]="film.id"></app-film>
        </div>
      }
    </div>
  </div>

  @if (canScrollRight) {
    <button class="nav-btn right" (click)="scrollRight()">›</button>
  }

</div>

