<div class="search-wrapper">
  <app-search-bar 
    [placeholderText]="'Busca tus películas favoritas...'"
    (searchEvent)="filters($event)">
  </app-search-bar>
</div>

@if (!isSearching) {
  @for (genre of genres; track $index) {
    <app-genre 
      [genre]="genre"
      [index]="$index">
    </app-genre>
  }
} 
@else {
  <app-genre 
    [genre]="{ name: 'Resultados de tu búsqueda', films: searchResults }"
    [index]="0">
  </app-genre>

  @if (searchResults.length === 0) {
    <div class="no-results-message">
      <p>No hemos encontrado ninguna película con ese nombre. ¡Prueba con otra!</p>
    </div>
  }
}