<div class="bubble-wrapper" [class.mine]="isMine">
  <div class="bubble-content">
    @if (!isMine) {
      <div class="user-header">
    <img 
        src="https://media.gettyimages.com/id/962792726/es/foto/kiev-ukraine-cristiano-ronaldo-of-real-madrid-poses-with-the-uefa-champions-league-trophy.jpg?s=612x612&w=gi&k=20&c=iGuCfZEUXyVagRfgPF765GB9CHIsyTplWQisj_AUC2U=" 
        alt="Foto" 
        class="user-photo"
      >
    <span class="user-name">{{ user }}</span>
    </div>
    }
    
    <p class="text">{{ text }}</p>
    <span class="time">{{ hour }}</span>
  </div>
</div>